/* ******* :: INDEX OF CSS :: *******
:: 1.0 WEB FONTS
:: 2.0 IMPORT ALL CSS
:: 3.0 GLOBAL CSS
:: 4.0 COMMON CSS
:: 6.0 SCROLL TO TOP AREA CSS
:: 7.0 HEADER AREA CSS
:: 8.0 WELCOME AREA CSS

****************************** */

/* ******************************
:: 1.0 WEB FONTS
****************************** */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,700&display=swap');

/* @font-face {
    font-family: 'DM Sans', sans-serif;
    src: url(../fonts/DM_Sans/DMSans-Bold.ttf) format('truetype'),
        url(../fonts/DM_Sans/DMSans-Medium.ttf) format('truetype'),
        url(../fonts/DM_Sans/DMSans-Regular.ttf) format('truetype');
} */

/*font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* ******************************
:: 2.0 IMPORT ALL CSS
****************************** */
@import url(bootstrap.min.css);
/* @import url(et-line.css); */
@import url(icofont.min.css);
@import url(all.min.css);
@import url(animate.min.css);
@import url(aos.css);
@import url(owl.carousel.min.css);
/* @import url(slick.css); */
@import url(jquery.fancybox.min.css);

/* ******************************
:: 3.0 GLOBAL CSS
****************************** */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
}

.main {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #1c144e;
    margin-bottom: 0;
    font-family: 'DM Sans', sans-serif;
}

.inner-wrapper h1,
.inner-wrapper h2,
.inner-wrapper h3 {
    color: #2d3136;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777;
    margin-bottom: 0;
}

a {
    color: #444;
}

a:hover {
    color: #0056b3;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.text-primary {
    color: #2d3136 !important;
}

.d-block-991{
    display: none !important; 
}

.mt-40{
    margin-top: 40px;
}

.mt-85{
    margin-top: 85px;
}

.ml-40{
    margin-left: 40px;
}

.mr-40{
    margin-right: 40px;
}

/* ******************************
:: 4.0 COMMON CSS
****************************** */
.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.op-5 {
    opacity: 0.5;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4rem;
    width: 4rem;
}

.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.h-100vh {
    height: 100vh;
}

.pos-abs-top-right {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
}

.radius-100 {
    border-radius: 100px !important;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dsp-tc {
    display: table-cell;
    vertical-align: middle;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.tooltip > .tooltip-inner {
    background-color: #00cff2;
    padding: 6px;
}

.tooltip-arrow,
.tooltip.top .tooltip-arrow {
    border-top-color: #00cff2;
}

.inner-wrapper {
    min-height: 100vh;
    width: 100%;
}

/*SECTION PADDING*/
.pt_0 {
    padding-top: 0;
}

.ptb_50 {
    padding: 50px 0;
}

.ptb_100 {
    padding: 100px 0;
}

.ptb_150 {
    padding: 150px 0;
}

.ptb_180 {
    padding: 180px 0;
}

/*BUTTONS*/
.btn {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    text-align: center;
    padding: 14px 30px;
    border: 0 none;
    border-radius: 100px;
    outline: 0 none;
    position: relative;
    z-index: 1;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.btn.btn-bordered {
    background: transparent none repeat scroll 0 0;
    color: #444;
}

.btn.btn-bordered:hover,
.btn.btn-bordered:focus {
    color: #fff;
}

.btn.btn-bordered:before,
.btn.btn-bordered-white:after {
    position: absolute;
    content: "";
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
    border-radius: 100px;
}

.btn.btn-bordered:before {
    z-index: -2;
}

.btn.btn-bordered:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    background: #fff none repeat scroll 0 0;
    z-index: -1;
}

/*TRANSITIONS*/
.team-photo:before,
.team-photo:after {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.btn.btn-bordered:before,
.btn.btn-bordered:after,
.btn.btn-bordered-white:after,
#scrollUp,
.header-items .nav-link,
.dropdown-item,
.navbar-sticky,
.benifits-item,
.benifits-item:after,
.single-work::after,
.single-work > h3,
.features-menu .single-features,
.features-menu .single-features::after,
.screenshots-overlay,
.price-plan-wrapper,
.thumb-prev,
.thumb-next,
.single-team,
.team-name,
.single-blog,
.tokyo .play-text {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.featured-items ul li,
.slick-dots li button,
.testimonial-area .owl-carousel button.owl-dot {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


/* ******************************
:: 6.0 SCROLL TO TOP AREA CSS
****************************** */
#scrollUp {
    position: fixed;
    right: 1%;
    bottom: 3%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    display: none;
}

#scrollUp > i {
    font-size: 24px;
    line-height: 38px;
    display: block;
    color: #fff;
}

#scrollUp > svg{
    color: #fff;
    font-size: 18px;
}

#scrollUp:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

/* ******************************
:: 7.0 HEADER AREA CSS
****************************** */
.hero-wrapper .svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    height: 100%;
    z-index: -1;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 0;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
    background: rgb(0 0 0 / 50%);
}

.navbar .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar.navbar-light .navbar-nav .nav-link {
    color: #7e8085;
}

.navbar.navbar-light .navbar-nav .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-link:focus,
.navbar.navbar-light .navbar-nav .nav-link.active,
.navbar.navbar-light .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

.navbar .navbar-brand-sticky {
    display: none;
}

.navbar-sticky {
    -webkit-transition: none;
    transition: none;
}

.navbar-sticky-transitioned {
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar-sticky-moved-up {
    position: fixed;
    top: 0;
    background: #041c23;
    margin-top: -100px;
}

[data-theme=dark] .navbar-sticky-moved-up {
    background: #01081f;
    -webkit-box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
    box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
}

.navbar-sticky-on {
    margin-top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.navbar-sticky-on .navbar-brand-regular {
    display: none;
}

.navbar-sticky-on .navbar-brand-sticky {
    display: inline;
}

/*NAVBAR DARK*/
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-dark .btn-outline {
    color: #fff;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #dde0e7d9;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #e7eaee;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
    color: #fff;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #D2D5DA;
}

/* ******************************
:: 8.0 WELCOME AREA CSS
****************************** */
.welcome-intro > h3 {
    font-size: 30px;
}

.welcome-area{
    background-image: url(../img/banner/your-word-banner.jpg);
    height: 800px;
}
/* 
.welcome-intro{
    padding-left: 175px;
}

.welcome-intro h1{
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 70px;
    margin-bottom: 50px;
}

.welcome-intro p{
    color: #e2393f;
    font-size: 22px;
    letter-spacing: 1px;
    position: relative;
    max-width: 240px;
    margin-bottom: 15px;
}

.welcome-intro p::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 10px;
    background-color: #e2393f;
    width: 60px;
    height: 2px;
}

.banner-img{
    display: none;
}

.banner-btn a{
    color: #fff;
    background-color: #e2393f;
    padding: 15px 40px;
    transition: all .3s ease;
    border: 2px solid #e2393f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.banner-btn a:hover{
    color: #e2393f;
    background-color: #fff;
}

.welcome-slider .owl-nav button.owl-prev{
    position: absolute;
    left: 20px;
    top: 50%;
}

.welcome-slider .owl-nav button.owl-next{
    position: absolute;
    right: 20px;
    top: 50%;
}

.welcome-slider .owl-nav button{
    width: 55px;
    height: 55px;
    border: 1px solid #fff !important;
    transition: all .3s ease;
    border-radius: 50%;
}

.welcome-slider .owl-nav button span{
    font-size: 45px;
    font-weight: 200;
    line-height: 40px;
    color: #fff;
}

.welcome-slider .owl-nav [class*=owl-]:hover{
    background: #e2393f;
    color: #fff;
    border: 1px solid #fff !important;
}

.welcome-slider .owl-dots{
    position: relative;
    bottom: 60px;
    text-align: center;
}

.welcome-slider .owl-dots button{
    background: #ddd;
    width: 15px;
    height: 15px;
    margin-right: 6px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.welcome-slider .owl-dots button.active{
    background-color: #fc425f;
} */

/* ******************************
:: 9.0  AREA CSS
****************************** */

/* ******************************
:: 25.0  PAGE CSS
****************************** */